body {
    background-image: url("../images/aquarium.jpg");
    background-size: cover;
}

img {
    position: fixed;
}

#fish1Id {
    left: 250px;
    top: 250px;
    width: 170px;
    height: 140px;
}

#fish2Id {
    left: 500px;
    top: 250px;
    width: 150px;
    height: 150px;
}

#fish3Id {
    left: 500px;
    top: 250px;
    width: 200px;
    height: 150px;
    border-spacing: 0;
}
#fish4Id {
    width: 300px;
    height: 300px;
}

#stone {
    left: 1250px;
    top: 600px;
    height: 140px;
}

.bubbleClass {
    width: 65px;
    height: 65px;
}
p{
    text-align: right;
    color:red;
}