h1 {
    font-style: oblique;
    font-family:fantasy;
    color: darkred;
    font-size: 500%;

    
}
h3 {
    color: darkred;
    font-family:fantasy;
    margin-top: 0px;
}

p {
    font-style: solid;
    font-family:inherit;
    color: black;
}
.Budha {
    height: auto;
    max-width: 90%;
}

#title {
    border-top: 1px solid darkred;  
}




