h1 {
    font-style: oblique;
    font-family:fantasy;
    color: #a37fa3;
    font-size: 500%;

    
}

    


body {   
    background-image: -webkit-gradient(linear, left top, left bottom, from(lightblue), to(white));
    background-image: -webkit-linear-gradient(top, lightblue, white);
    background-image: -moz-linear-gradient(top, lightblue, white);
    background-image: linear-gradient(to bottom, lightblue, white);
    background-repeat: no-repeat;
           
}
/*
pre {
    font-style: normal;
    font-family: serif;
}*/

div {
    float: right;
    font-style: italic;
}
.Budha {
    height: 500px;
    float: right;
    clear: both; 
}


    
.Contact {
    background-image: url(../images/clouds.png)
    

