  
 h1 {
    font-style: oblique;
    font-family: fantasy;
    color: darkred;
    font-size: 500%; 
}

h2 {
    color: darkred;
}

.Council {
    height: 350px;
    clear: both;
} 

table {
    width: 800px;
    margin: 5px;
    border-collapse: collapse;
}

td {
    padding: 10px;
}

tr:nth-child(odd) {
    font-style: oblique;
    font-family: fantasy;
    color: darkred;
    font-size: 300%;
    text-align: center;
}

tr:nth-child(even) {
    text-align: justify;
    vertical-align: top;
    text-indent: 20px;
}

tr:nth-child(2) {
    border-bottom: 5px dotted darkred; 
}

tr:nth-child(3) {
    border-top: 5px dotted darkred;
}

td:first-child {
    border-right: 5px dotted darkred;
}

td:last-child {
    border-left: 5px dotted darkred;
}


