  
 h1 {
    font-style: oblique;
    font-family: fantasy;
    color: darkred;
    font-size: 500%; 
}

#Council {
    max-width: 90%;
    height: auto;
} 


h2 {
    font-style: oblique;
    font-family: fantasy;
    color: darkred;
    font-size: 300%;
    text-align: center;
}


.row {
    text-align: justify;
    vertical-align: top;
/*    text-indent: 20px;*/
}


