#wrapper {
    padding: 50px;
    padding-top: 0px;
    height: 500px;
    margin-top: 50px;
    margin-left: 30px;
    margin-right: 30px;
     
}

.clear {
    clear: both;
}

h1 {
    font-size: 5em;
    letter-spacing: 10px;
    text-align: center;
    margin: 0px;
    color: #a37fa3;
    font-style: normal;
    
}
/*
#wrapper, #textbox, 
#maininfo, #description, 
#images {
    border-style: solid;
    margin: 5px;
}*/

#maininfo img {
    height: 125px;
    width: 125px;
    /*margin: 40px 5px 40px 5px;*/
}

#maininfo table {
    margin-left: 0px;
    margin-right: 0px;
    width: 600px;
    /*border-style: solid;*/
    font-size: 1.2em;
    font-style: solid;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    /*border-style: solid;
    border-collapse: collapse;*/
}

#maininfo td {
    /*border-style: solid;*/
    width: fit-content;
    height: 20px;;
}

#maininfo td:first-child {
    /*border-right-style: dotted;*/
    text-align: right;
    padding: 5px;
    font-weight: bold;
    font-family:fantasy;
    color: #a37fa3;
    letter-spacing: 1px;
    width: 300px;
}

#maininfo td:nth-child(3) {
    /*border-left-style: dotted; */   
    text-align: left;
    padding: 5px;
    /*overflow: visible;*/
    
}

#maininfo tr:last-child td {
    border-collapse: collapse;
    border-bottom-style: dotted;
    border-width: 5px;
    border-color: #a37fa3;
    text-align: left;
}

#divider {
    border-collapse: collapse;
    border-left-style: dotted;
    border-width: 5px;
    border-color: #a37fa3;        
}

#textbox {
    float: left;
    width: 600px;
    padding-left: 100px;
    margin-left: 50px;
    margin-right: 50px;
     
}

#images {
}

#images img {
    width: 320px;
    height: 240px;
}

#description {
    text-indent: 30px;
    text-align: justify;
}

#quote {
    font-style: italic;
}