#wrapper {
    padding: 50px;
    padding-top: 0px;
    height: 500px;;
}

.clear {
    clear: both;
}

h1 {
    font-size: 5em;
    letter-spacing: 10px;
    text-align: center;
    margin: 0px;
    color: #690069;
    font-style: normal;
    
}

#wrapper, #textbox, 
#maininfo, #description, 
#images {
    border-style: solid;
    margin: 5px;
}

#maininfo table {
    border-style: solid;
}

#maininfo td {
    border-style: solid;
}

#maininfo td:nth-child(1) {
    text-align: right;
}

#maininfo td:nth-child(2) {
    text-align: left;
}
