h1{
    text-align: center;
    font-style: oblique;
    font-family:fantasy;
    color: darkred;
    font-size: 500%;
}
#instructions{
    font-style: italic;
    font-family:serif;
    text-align: center;
}
.subres{
    background-color: darkred;
    border-color: whitesmoke;
    border-style: outset;
    border-width: thick;
    font-style: italic;
    font-family:serif;
    color: whitesmoke;
    width: 100%;
}

.subres:hover{
    font-weight: bold;
}

.subres_out{
    float: right;
}
textarea{
    width: 100%;
    height: 10em;
    margin: auto;
}