h1{
    text-align: center;
    font-style: oblique;
    font-family:fantasy;
    color: darkred;
    font-size: 500%;
}
#instructions{
    font-style: italic;
    font-family:serif;
    color: black;
    margin-left: 25%;
    margin-right: 25%;
    text-align: center;
}
.subres{
    background-color: darkred;
    border-color: whitesmoke;
    border-style: outset;
    border-width: thick;
    font-style: italic;
    font-family:serif;
}
.subres:hover{
    font-weight: bold;
}
.subres_out{
    margin-left: 55.73%;
}
textarea{
    margin-left: 33%;
    width: 33%;
    height: 10em;
}