h1{
    font-style: oblique;
    font-family:fantasy;
    color: #a37fa3;
    text-align: center;
    font-size: 500%;
}

h3 {
    font-size: 200%;
    font-style: oblique;
    font-family:fantasy;
    color: #a37fa3;
}

.photos img{
    height: 150px;
    width: 150px;
    float: left;
    padding: 15px;
}
table{
    display: block;
}

.separator{
    margin-left: 40px;
}

td { 
    text-align: center;
}
.clear{
    clear: both;
}

.photos a:hover {
    font-size: 100% !important; 
}
.title{
    width: 500px;
}