h1{
    font-style: oblique;
    font-family:fantasy;
    color: darkred;
    text-align: center;
    font-size: 500%;
}

h3 {
    font-size: 200%;
    font-style: oblique;
    font-family:fantasy;
    color: darkred;
}

.photos a:hover {
    font-size: 100% !important; 
}

#myCarousel {

    width: 100%;
}

.col-sm-4 {
    padding-bottom: 15px;
}

img{
    margin: 0 auto;
}

.col-sm-12 {

    padding-bottom: 40px;
}

a {
    font-size: 125%;
}






