*{
     color: darkred;
}


h1 {
    font-size: 500%;
    letter-spacing: 10px;
    text-align: center;
    margin: 0px;
    color: darkred;
    font-style: oblique;
    font-family: fantasy;  
}

@media screen and (max-width: 767px) {
    h1 {
        font-size: 300%;
    }
}

a {
    font-style: oblique;
    font-family: fantasy;
    color: darkred;
}


/*doesn't work however I try*/
li a: hover{
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    background: none;
}

footer {
    font-style: oblique;
    font-family: fantasy;
    color: darkred;
    border-top: 5px dotted darkred;
    width: 100%;
    height: 60px;
}

#footerinfo {
    margin-top: 25px;
    float: right;
}

.col-xs-2{
    padding: 0px;
}

footer img {
    margin: 5%;
}

body {
    background-image: linear-gradient(to bottom, gold, white);
    background-repeat: no-repeat;
}

.dropdown-menu {
    
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    background: none;
    text-shadow: 1px 1px gray;
}
.dropdown-menu li a{
    color: darkred;
}

