
* {
    color: darkred;
}

h1 {
    font-size: 500%;
    letter-spacing: 10px;
    text-align: center;
    margin: 0px;
    font-style: oblique;
    font-family: fantasy;
}






/*Here*/
@media screen and (max-width: 767px) {
    h1 {
        font-size: 275%;
    }
    button{
        clear:left;
    }
    button a{
        color:aqua;
    }
}





a {
    font-style: oblique;
    font-family: fantasy;
    color: darkred;
}
button a{
    color: black;
}
#myNavbar{
    background-color: gold;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
button{
    height: 71px;
    margin: 0.5%;
    width:90px;
    background-color: darkred;
}


button a:hover {
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.3);
    font-weight: bold;
    color: black;
}
button:hover{
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.3);
}

#footer {
    font-style: oblique;
    font-family: fantasy;
    color: darkred;
    border-top: 5px dotted darkred;
    width: 100%;
    height: 60px;
}

#footer img{
    margin-left: 25px;
}

#footerinfo {
    margin-top: 25px;
    float: right;
}

#feedbackImg{
    width: 100%;
    height: auto;
}

body {
    background-image: linear-gradient(to bottom, gold, white);
    background-repeat: no-repeat;
}
.dropdown-toggle:active, .dropdown-menu:active{
    border: none;
}
.dropdown-menu {
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    background-color: darkred;
    text-shadow: 1.5px 1.5px gold;
    color:darkred;
}
.dropdown-menu li a{
    color:darkred;
}
#empty{
    height: 113px;
}
