.clear {
    clear: both;
}

.wrapper {
    color: black;
    margin: 0px 20px 0 0;
    overflow: auto;
    letter-spacing: 1px;
    text-align: justify;
}

h4,
h3 {
    font-style: oblique;
    font-family: fantasy;
    color: darkred;
    letter-spacing: 2px;
}

.images {
    margin-right: 15px;
    border-right: 5px dotted darkred;
    float: left;
    width: 50%;
}

.images img {
    display: block;
    padding: 30px;
}

#yoga {
    padding-left: 125px;
}

news {
    font-style: solid;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    text-indent: 20px;
    margin-left: 210px;
    width: 75%;
}

.news-title {
    text-align: center;
    font-weight: bold;
    font-style: oblique;
    font-family: fantasy;
    color: darkred;
    font-size: 500%;
}

td img {
    height: 300px;
    width: 300px;
    padding: 0px;
    margin: 0px;
}