h4,
h3 {
    font-style: oblique;
    font-family: fantasy;
    color: darkred;
    letter-spacing: 2px;
}

p {
    font-style: solid;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    text-align: justify;
}

.news-title {
    text-align: center;
    font-weight: bold;
    font-style: oblique;
    font-family: fantasy;
    color: darkred;
    font-size: 250%;
    border-bottom: 5px dotted darkred;
}

#myCarousel{
    width: 40%;
}

.container{
    text-align: center;
}