*{
    margin: auto;
}
h1{
    text-align: center;
    font-style: oblique;
    font-family:fantasy;
    color: darkred;
    font-size: 500%;
}
#photo{
    width: 90%;
    margin: auto;
    border: 8px solid black;
}
.left{
    margin-left: 4%;
    font-style: italic;
    font-family:serif;
    color: black;
}
#small_letters{
    font-size: 0.75em;
}
td{
    width: 170px;
    float:left;
    
}
table{
    margin-left: 30px;
}
.subres_out{
    margin-left: 31%;
}
.subres{
    background-color: darkred;
    width: 50%;
    border-color: whitesmoke;
    border-style: outset;
    border-width: thick;
    font-style: italic;
    font-family:serif;
    color: whitesmoke;
}
.subres:hover{
    font-weight: bold;
}
fieldset{
    width: 40%;
    color: darkred;
}
textarea{
    width:300%;
    height: 50px;
}
label p{
    margin-left: 35%;
}