
#navBar {
    display: inline;
}
#navBar li{
    float:left;
    list-style-type: none;
    background-image: url("../images/clouds.png");
    background-repeat: no-repeat;
    background-position: center;
    margin: 10px;
    padding: 70px;
    /* border: 2px solid black; */
}
#logo {
    float: left;
}
body {
    font-style: oblique;
    font-family:fantasy;
    color: #a37fa3;
   /* @font-face {
        font-family: sun;
        src: url("../font/Sanies.ttf");
    }
    font-family: sun; */
    
}
