
#navBar {
    display: inline;
}
#navBar li{
    float:left;
    list-style-type: none;
    background-image: url("../images/clouds.png");
    background-repeat: no-repeat;
    background-position: center;
    margin: 10px;
    padding: 70px;
    /* border: 2px solid black; */
}
#logo {
    float: left;
}
body, option, select {
    font-style: oblique;
    font-family:fantasy;
    color: #a37fa3;
   /* @font-face {
        font-family: sun;
        src: url('../font/sanies.ttf');
    }
    font-family: sun; 
    */
}

footer {
    clear: both;
    text-align: center;
}
select{
    background: none;
    border: none;
.dropdown-content{
    display: none; /*is hidden*/
    position: absolute; /*doesn't move*/
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); /*the a value- alpha makes it transparent*/
    padding: 10%;
}
.dropdown-content a {
    text-decoration: none;
    display: block;
}


body {
    background-image: -webkit-gradient(linear, left top, left bottom, from(lightblue), to(white));
    background-image: -webkit-linear-gradient(top, lightblue, white);
    background-image: -moz-linear-gradient(top, lightblue, white);
    background-image: linear-gradient(to bottom, lightblue, white);
    background-repeat: no-repeat;
}

.dropdown{
    position: relative;
/*    display: inline-block;*/
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown-content a:hover {
    color: #a37fa3;
}