ul {
    display: inline;
}
li{
    float:left;
    list-style-type: none;
    background-image: url("../images/clouds.png");
    border: 2px solid black;
}
img {
    float: left;
}
/*
.dropdownul{
    display: list-item;
}
.dropdown{
    float:none;
    list-style-type: circle;
    background-image: none;
}*/
